[Unit]
Description=Hello World App socket

[Socket]
ListenStream=/run/helloapp/socket
ListenStream=0.0.0.0:8000
ListenStream=[::]:9000

[Install]
WantedBy=sockets.target
